mixin modal(data)
  .modal&attributes(attributes)
    +title({
      content: 'Добавить идею'
    }).title--sm.mb-35
    form.form(action="#", method="POST")
      .form__item.form-group
        input.input.form-control(type="text", placeholder="Название идеи")
      .form__item.form-group
        input.input.form-control(type="text", placeholder="Сформулируйте идею")
      .form__item.form-group
        input.input.form-control(type="text", placeholder="Какую проблему решает ваша идея?")
      .form__item.form-group
        input.input.form-control(type="text", placeholder="В чем уникальность предложенной вами идеи?")
      .form__item.form-group
        input.input.form-control(type="text", placeholder="Какие условия и ресурсы требуются для реализации?")
      .d-flex.justify-content-end.mt-lg-50
        button.btn.btn-primary(type="submit") Добавить идею
