.modal {
  padding: 65px;
  display: none;
  width: 100%;
  max-width: 1388px;

  @include media-breakpoint-down(lg) {
    padding: 60px 20px 20px;
  }

  .fancybox-close-small {
    width: 50px;
    height: 50px;
    background: url(../img/modal-close.svg) no-repeat;
    background-size: contain;

    @include transition;

    svg {
      display: none;
    }
  }
}
