h1,
.h1 {
  font-size: 103px;
  line-height: .79;
  font-weight: 900;
  letter-spacing: 2px;

  @include media-breakpoint-down(sm) {
    font-size: 60px;
  }
}

h2,
.h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2.4px;
  color: #fff;
}

h3,
.h3 {
}

h4,
.h4 {
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: 1.2px;

  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
}

h6,
.h6 {
}

p,
.p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 1px;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }

  &.p--sm {
    font-size: 14px;
    letter-spacing: .84px;

    @include media-breakpoint-down(sm) {
      font-size: 13px;
    }
  }

  &.p--xs {
    font-size: 12px;
    letter-spacing: .7px;
  }

  a {

    @include transition;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
