mixin idea(data)
  .idea&attributes(attributes)
    .idea__header 
      .idea__date 18.08.2020
      .idea__header-controls
        if data.modifier == 'ongoing'
          .idea__status.idea__status--ongoing На рассмотрении
          a.idea__edit(href="#")
        else if data.modifier == 'success'
          .idea__status.idea__status--success Одобрено
        else if data.modifier == 'fail'
          .idea__status.idea__status--fail Отклонено
          a.idea__edit(href="#")
    .idea__content
      p.text-white.mb-0 Работа в формате сетевого BarCamp позволяет участникам проектировать большую часть активностей форума. Становитесь соавтором форума, принимая решения о том какой будет архитектура повестки,
      p.mb-0
        a(href="#") Смотреть полностью
