.idea {
  position: relative;
  margin-bottom: 32px;
  padding: 35px 30px 20px 35px;
  display: block;
  border: 1px solid rgba(#fff, .4);

  @include media-breakpoint-down(sm) {
    padding: 25px 15px 15px;
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px 0 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);

    @include media-breakpoint-down(sm) {
      position: static;
      margin-bottom: 10px;
      padding: 0;
      transform: none;
    }
  }

  &__date {
    padding: 0 20px;
    font-size: 16px;
    letter-spacing: .96px;
    color: #fff;
    background: #000;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 0;
      left: 10px;
      padding: 0 10px;
      transform: translateY(-50%);
    }
  }

  &__header-controls {
    display: flex;
    align-items: center;
  }

  &__status {
    padding: 8.5px 9px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;

    &--ongoing {
      background: #535353;
    }

    &--success {
      background: #00c051;
    }

    &--fail {
      background: #c01700;
    }
  }

  &__edit {
    margin-left: 18px;
    display: block;
    width: 44px;
    height: 38px;
    background: #000 url(../img/edit.svg) no-repeat center;
    border: 1px solid rgba(#fff, .5);

    @include transition;

    &:hover {
      opacity: .75;
    }
  }
}
