/* Bootstrap */

.container {
  margin-left: -15px;
  max-width: calc(100% + 30px);

  @include media-breakpoint-down(sm) {
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
  }
}

.btn {
  padding: 6.5px 35.7px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .35px;
  color: #fff;
  border-radius: 150px;

  @include transition;

  @include media-breakpoint-down(sm) {
    padding: 10px 20px;
    font-size: 16px;
  }

  &:hover {
    opacity: .75;
  }

  &.btn-primary {
    background-color: #e6499b;
    background-image: linear-gradient(-145deg, #4d008f 0%, #ff0077 100%);
    border: 0;
  }

  &.btn-outline-primary {
    position: relative;
    display: inline-flex;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(-145deg, #4d008f 0%, #ff0077 100%);

    &:before {
      position: absolute;
      top: 1px;
      left: 1px;
      display: block;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      content: '';
      background: #000;
      border-radius: 150px;
    }

    span {
      position: relative;
      z-index: 1;
    }
  }

  &.btn-lg {
    padding: 10px 40px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 40px;
  }

  &--plus {
    padding-right: 17px;
    padding-left: 17px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(to left, #4d008f 0%, #ff0077 100%);
    border-radius: 2px !important;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }

    &:before {
      border-radius: 2px !important;
    }

    &:after {
      position: relative;
      z-index: 1;
      margin-right: 10px;
      display: block;
      width: 24px;
      height: 24px;
      content: '';
      background: url(../img/plus.svg) no-repeat;
      background-size: contain;
    }
  }

  &--leader {
    display: inline-flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      width: 100%;
      flex-direction: column;
    }

    &:after {
      margin-left: 10px;
      display: block;
      width: 118px;
      height: 25px;
      content: '';
      background: url(../img/leader-logo.svg) no-repeat center;
      background-size: contain;
    }
  }
}
