mixin sidebar(data)
  .sidebar&attributes(attributes)
    .sidebar__top
      a.sidebar__menu(href="#")
      a.sidebar__search(href="#")
    //.sidebar__bottom
      a.sidebar__profile(href="#")
      a.sidebar__share(href="#")
      a.sidebar__up(href="#")
