.sidebar {
  position: relative;
  z-index: 1;
  padding-bottom: 40px;
  display: flex;
  width: 97px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #010101;
  border-right: 1px solid #f7fcfe;

  @include media-breakpoint-down(lg) {
    width: 80px;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }

  &__top {
    position: sticky;
    top: 0;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__menu {
    margin-bottom: 30px;
    width: 30px;
    height: 25px;
    background: url(../img/menu.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }

  &__search {
    width: 30px;
    height: 30px;
    background: url(../img/zoom.png) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__profile {
    margin-bottom: 12px;
    width: 16px;
    height: 16px;
    background: url(../img/user.png) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }

  &__share {
    margin-bottom: 12px;
    width: 16px;
    height: 16px;
    background: url(../img/share.png) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }

  &__up {
    width: 16px;
    height: 16px;
    background: url(../img/up.png) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }
}
