
include ../blocks/header/header.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/dates/dates.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/countdown/countdown.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/socials/socials.pug
include ../blocks/directions/directions.pug
include ../blocks/title/title.pug
include ../blocks/footer/footer.pug
include ../blocks/idea/idea.pug
include ../blocks/link-back/link-back.pug
include ../blocks/suggestion/suggestion.pug
include ../blocks/modal/modal.pug
include ../blocks/cabinet/cabinet.pug