head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  title Цифровой форум АСИ 2020 — сильные идеи для нового времени
  link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
  link(rel='stylesheet', href='css/style.css')
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
  meta(name="format-detection", content="telephone=no")
  meta(name='author', content='ASI')
  meta(property='og:title', content='Цифровой форум АСИ 2020')
  meta(property='og:type', content='website')
  meta(property='og:description', content='Мы предлагаем объединиться на площадке Цифрового форума Агентства стратегических инициатив и спроектировать, при помощи каких идей и решений все вместе сможем справиться с ограничениями и последствиями текущего кризиса, восстановить и перезагрузить экономику.')
  meta(property='og:image', content="./img/front.png")
