.input {
  padding-left: 0;
  width: 100%;
  height: 60px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid $primary;
  border-radius: 0;

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
    height: 40px;
    font-size: 14px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  @include placeholder(rgba(#000, .5));
}
