mixin directions(data)
  .directions&attributes(attributes)
    .directions__content
      +title({
        content: 'Направления <br>форума'
      }).mb-40.mb-lg-100
      .directions__list
        .directions__list-row
          +directions__item({
            dotBG: '#9C0155',
            title: 'Новая социальная политика',
            dscr: 'от психологической адаптации человека до НКО и здравоохранения'
          })
          +directions__item({
            dotBG: '#8D017D',
            title: 'Новые компетенции',
            dscr: 'как и чему учиться и учить, чтобы успеть за трендами развития'
          })
        .directions__list-row
          +directions__item({
            dotBG: '#9C0155',
            title: 'Новая экономическая политика',
            dscr: 'все для бизнеса и его восстановления, предложения для МСП, экспорта и преодоления законодательных барьеров'
          })
          +directions__item({
            dotBG: '#87017E',
            title: 'Здоровые города',
            dscr: 'новые подходы в урбанистике и проектировании городской среды'
          })
        .directions__list-row
          +directions__item({
            dotBG: '#780046',
            title: 'Новая технологическая политика',
            dscr: 'научные разработки и технологии, венчурное финансирование, работа с Big Data и "плюшки" для возврашения предпринимателе в Россию'
          })
          +directions__item({
            dotBG: '#790176',
            title: 'Новые идеи для бизнеса',
            dscr: 'рынки НТИ, экономика развлечений и многое другое'
          })
            p.font-weight-bold.mt-30
              a(href="#") и другие направления...
    .directions__picture
      img.directions__picture-img(src="./img/throne.png", alt)


mixin directions__item(data)
  .directions__item&attributes(attributes)
    .directions__item-dot(style="background-color: " + data.dotBG)
    .directions__item-content
      h5.mb-5.text-white= data.title
      p.p--sm.font-weight-medium.text-white.mb-0= data.dscr
      if block
        block
