.directions {
  position: relative;
  margin-top: 120px;
  display: flex;

  &__content {
    position: relative;
    z-index: 2;
  }

  &__list {
  }

  &__list-row {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__item {
    margin-bottom: 70px;
    display: flex;
    max-width: 500px;

    @include media-breakpoint-down(xml) {
      max-width: 400px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
      max-width: none;
    }

    & + & {
      margin-left: 160px;

      @include media-breakpoint-down(xml) {
        margin-left: 50px;
      }

      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
    }
  }

  &__item-dot {
    margin-top: 2px;
    margin-right: 40px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%;

    @include media-breakpoint-down(xml) {
      margin-right: 20px;
    }
  }

  &__item-content {
  }

  &__picture {
    margin-top: -50px;
    margin-right: -75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include media-breakpoint-down(xl) {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      margin-top: 0;
      margin-right: 0;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      opacity: .2;
      transform: translate(-50%, -50%);
    }
  }

  &__picture-img {
  }
}
