.dates {
  position: absolute;
  z-index: 1;
  top: 223px;
  right: 0;
  padding: 10px 16px 25px;
  background: #010101;
  border: 2px solid #fff;
  border-right: 0;

  @include media-breakpoint-down(md) {
    position: static;
    margin: 0 auto 20px;
    padding: 20px;
    display: flex;
    width: calc(100% - 30px);
    justify-content: center;
    border: 2px solid #fff;
  }

  br {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__year {
    margin-bottom: 6px;
    font-size: 49px;
    line-height: .82;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    color: #010101;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
  }

  &__months {
    position: relative;
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 900;
    letter-spacing: 5.5px;
    text-transform: uppercase;
    color: #fff;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-left: 10px;
      display: flex;
      align-items: center;
    }

    br {

      @include media-breakpoint-down(md) {
        display: block;
      }
    }

    &:before {
      position: absolute;
      top: 0;
      left: -18px;
      display: block;
      width: 2px;
      height: 100%;
      content: '';
      background: $primary;

      @include media-breakpoint-down(md) {
        position: static;
        margin-right: 10px;
      }
    }
  }
}
