.title {
  position: relative;

  &__content {
    position: relative;
    z-index: 2;
    font-size: 100px;
    line-height: .85;
    letter-spacing: 6px;
    word-spacing: 100vw;
    color: $primary;

    @include media-breakpoint-down(lg) {
      font-size: 80px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 40px;
      letter-spacing: 0;
    }

    &--back {
      position: absolute;
      z-index: 1;
      top: -12px;
      left: 12px;
      width: 100%;
      text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
      color: #010101;

      @include media-breakpoint-down(lg) {
        top: -5px;
        left: 5px;
      }
    }
  }

  &--no-break {

    .title__content {
      word-spacing: normal;
    }
  }

  &--sm {

    .title__content {
      font-size: 30px;
      font-weight: 900;
      letter-spacing: 1.8px;
      word-spacing: normal;
      color: #000;

      &--back {
        top: -3px;
        left: 3px;
        text-shadow: -1px 0 #979797, 0 1px #979797, 1px 0 #979797, 0 -1px #979797;
        color: #fff;
      }
    }
  }

  &--lg {

    .title__content {
      font-size: 137px;
      letter-spacing: 8px;

      @include media-breakpoint-down(xml) {
        font-size: 100px;
      }

      @include media-breakpoint-down(lg) {
        font-size: 80px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 40px;
        letter-spacing: 0;
      }

      &--back {
        top: -14px;
        left: 14px;
        width: calc(100% + 14px);

        @include media-breakpoint-down(sm) {
          top: -5px;
          left: 5px;
          width: calc(100% + 5px);
        }
      }
    }
  }
}
