mixin socials(data)
  .socials&attributes(attributes)
    a.socials__item(href="#", style="background-image: url(./img/tg.svg);")
    a.socials__item(href="#", style="background-image: url(./img/vk.svg);")
    a.socials__item(href="#", style="background-image: url(./img/fb.svg);")
    a.socials__item(href="#", style="background-image: url(./img/ig.svg);")
    a.socials__item(href="#", style="background-image: url(./img/tw.svg);")
    a.socials__item(href="#", style="background-image: url(./img/yt.svg);")
