.socials {
  display: flex;
  align-items: center;

  &__item {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;

    @include transition;

    & + & {
      margin-left: 25px;
    }

    &:hover {
      opacity: .75;
    }
  }
}
