mixin footer(data)
  .footer&attributes(attributes)
    p.p--xs.mb-0.text-white.font-weight-medium © Цифровой форум АСИ
    .footer__right
      p.p--xs.mb-0.font-weight-medium.mr-20.mr-lg-70
        a.text-white(href="#") Политика конфиденциальности
      .socials
        a.socials__item(href="#", style="background-image: url(./img/tg.svg);")
        a.socials__item(href="#", style="background-image: url(./img/fb.svg);")
