.footer {
  margin-top: auto;
  padding: 40px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #3e4040;

  @include media-breakpoint-down(lg) {
    margin-top: 20px;
    padding: 20px 15px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }
}
