extends ../templates/template.pug
block content
  .wrapper
    +sidebar
    .wrapper__content
      .wrapper__container
        .cabinet
          +header
          .container
            .row
              .col-xxl-8
                +link-back
                h5.mb-25.text-white Здравствуйте!
                +title({
                  content: 'Виктор Олегович'
                }).title--no-break.mb-40
                .cabinet__info
                  p.cabinet__info-header Профиль:
                  .cabinet__info-content
                    .cabinet__info-left
                      img.cabinet__userpic(style="background-image: url(./img/userpic.png);")
                      .cabinet__info-left-content
                        p.font-weight-bold.mb-0.text-white Забайкальский Виктор Олегович
                        p.font-weight-bold.mb-0.text-white +7 985 889 99 88
                        p.font-weight-bold.mb-0.text-white sample@sample.com
                    .cabinet__info-right
                      p.cabinet__info-edit Редактирование персональных данных осуществляется в системе 
                        a(href="#") Leader-ID
            .row
              .col-lg-8
                .cabinet__portfolio-header
                  h2.text-white.mb-0 Портфель идей
                  a.btn.btn-outline-primary.btn--plus(href="#modal", data-fancybox) 
                    span Добавить идею
            .row
              .col-xl-8
                +idea({
                  modifier: 'ongoing'
                })
                +idea({
                  modifier: 'success'
                })
                +idea({
                  modifier: 'fail'
                })
              .col-xl-4
                .pl-xml-40
                  h5.mb-25.text-white Страну меняют люди! <br>Присоединись к нам и расскажи о своей сильной идее
                  p.text-white Решения форума войдут в проекты экосистемы Агентства стратегических инициатив: от программы глобального технологического лидерства НТИ и платформы обмена практиками устойчивого развития “Смартека” до пространств “Точек кипения”, обеспечивающих связность и сгущение сообществ в регионах, и Университета 20.35, который развивает человека в цифровой среде.
      +footer
    +modal#modal
