extends ../templates/template.pug
block content
  .wrapper
    +sidebar
    .wrapper__content
      .suggestion
        .wrapper__container
          +header
          .suggestion__content
            +link-back
            +title({
              content: 'Предложи <br>идею'
            }).mb-50
            p.font-weight-bold.mb-30.text-white В нынешних реалиях почти в каждой сфере жизни мы сталкиваемся с вопросами, которые требуют гибких подходов и быстрых решений. Мы предлагаем ответить на них в рамках следующих тематических направлений:
            a.btn.btn-primary(href="#") Предложить идею
      +footer
