extends ../templates/template.pug
block content
  .wrapper
    +sidebar
    .wrapper__content
      .wrapper__container
        .front
          +header
          .front__wrapper
            .front__content
              .front__content-top
                .front__content-header
                  +title({
                    content: 'Сильные идеи'
                  }).title--lg
                  .front__content-subheader для 
                    span.front__content-subheader-underline нового <br>
                    | времени
                .front__content-dscr
                  p.font-weight-bold Вызовы пандемии дают нам возможность переосмыслить себя и свою деятельность. Мы перестраиваем свои рабочие процессы и учимся жить в новых условиях, меняя потребительские привычки и справляясь с чувством тревоги от неизведанного.
                  p Будущим лидерам и сильным людям нужно вооружиться идеями и встретиться на площадке цифрового форума Агентства стратегических инициатив, чтобы спроектировать решения, которые помогут восстановить и перезагрузить экономику.
                  .front__dscr-btns
                    a.btn.btn-primary(href="#") Предложить идею
                    a.btn.btn-outline-primary(href="#") 
                      span Зарегистрироваться на форум
                //.front__content-additional
                  +countdown
            .front__right
              .front__platon
                img.front__platon-img(src="./img/platon.png", alt="Platon")
              .front__right-bottom
                .front__right-bottom-top
                  p.font-weight-bold.text-white.front__contact Свяжись с нами: 
                    a(href="#") ideas@asi.ru
                  +socials
                .front__partners-list
                  a.front__partner(href="http://asi.ru", target="_blank")
                    img.front__partner-logo(src="./img/partner-1.svg", alt="Logo")
                  a.front__partner(href="https://2035.university", target="_blank")
                    img.front__partner-logo(src="./img/partner-2.svg", alt="Logo")
                  a.front__partner(href="https://2035.dev", target="_blank")
                    img.front__partner-logo(src="./img/partner-3.svg", alt="Logo")
        +directions
      +dates
      +footer
