extends ../templates/template.pug
block content
  .wrapper
    +sidebar
    .wrapper__content
      .wrapper__container
        +header
        +link-back
        +title({
          content: 'Регистрация'
        }).mb-50
        p.font-weight-bold.mb-30.text-white Для участия в форуме и подачи идей, пройдите регистрацию через систему Leader-ID <br>Участие в форуме бесплатное 
        p.font-weight-bold.mb-40.text-white Если у вас еще нет аккаунта в этой системе, то мы подготовили 
          a(href="#") 12 причин 
          | для того, чтобы присоединиться!
        a.btn.btn-primary.btn--leader(href="#") Зарегистрироваться через
      +footer
