.suggestion {
  flex-grow: 1;
  background: url(../img/idea-bg.png) no-repeat right center;

  @include media-breakpoint-down(xl) {
    background-position: right -100px center;
  }

  @include media-breakpoint-down(lg) {
    background: #000;
  }

  &__content {
    max-width: 990px;

    @include media-breakpoint-down(xml) {
      max-width: 650px;
    }
  }
}
