.logo {
  display: flex;
  border: 2px solid #fff;

  @include transition;

  &:hover {
    opacity: .75;
  }

  &__name {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #fefefe;
    border-right: 2px solid #fff;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }

  &__date {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1.5px;
    color: $primary;
  }
}
