.front {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #000;

  &:after {
    position: absolute;
    z-index: 0;
    right: -75px;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: url(../img/front-new.png) no-repeat right center;
    background-size: contain;
  }

  &__dscr-btns {
    margin-top: 65px;
    display: flex;
    width: calc(100% + 40px);
    justify-content: space-between;

    @include media-breakpoint-down(xml) {
      width: 100%;
      flex-direction: column;
    }

    .btn {

      @include media-breakpoint-down(xml) {
        margin-bottom: 20px;
        justify-content: center;
      }
    }
  }

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }

  &__platon {
    position: relative;
    z-index: 1;
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;

    @include media-breakpoint-down(lg) {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      opacity: .2;
      transform: translate(-50%, -50%);
    }
  }

  &__platon-img {
    max-width: 100%;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding-top: 94px;
    display: flex;
    max-width: 760px;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      padding-top: 40px;
      padding-bottom: 20px;
    }
  }

  &__content-header {
    position: relative;

    @include media-breakpoint-down(sm) {
      margin: 50px 0 30px;
    }
  }

  &__content-subheader {
    position: absolute;
    bottom: 19px;
    left: 458px;
    margin-bottom: 0;
    font-size: 38px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;

    @include media-breakpoint-down(xml) {
      bottom: 10px;
      left: 340px;
      font-size: 30px;
    }

    @include media-breakpoint-down(lg) {
      bottom: 5px;
      left: 285px;
      font-size: 26px;
    }

    @include media-breakpoint-down(sm) {
      position: static;
      font-size: 20px;
    }
  }

  &__content-subheader-underline {
    border-bottom: 3px solid $primary;
  }

  &__content-dscr {
    margin-top: 68px;
    padding: 25px 10px 60px 0;
    font-size: 15px;
    line-height: 1.67;
    letter-spacing: .3px;
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

    @include media-breakpoint-down(xml) {
      margin-top: 40px;
      padding-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }

  &__content-bottom {
    margin-top: auto;
  }

  &__partners-list {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
    }
  }

  &__partner {

    @include media-breakpoint-down(sm) {
      margin-right: 40px;
    }

    & + & {
      margin-left: 45px;

      @include media-breakpoint-down(xml) {
        margin-left: 30px;
      }

      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
    }
  }

  &__partner-logo {
    display: block;
    max-width: 100%;

    @include media-breakpoint-down(xml) {
      margin-bottom: 20px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    @include media-breakpoint-down(xml) {
      align-items: flex-end;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 40px;
      align-items: flex-start;
      align-self: flex-start;
    }
  }

  &__right-bottom {
    position: relative;
    z-index: 1;
    align-self: flex-end;
    padding-left: 40px;

    @include media-breakpoint-down(xml) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    @include media-breakpoint-down(lg) {
      padding-left: 0;
      align-items: flex-start;
    }
  }

  &__right-bottom-top {
    padding-right: 26px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xml) {
      padding-right: 0;
      flex-direction: column;
      align-items: flex-end;
    }

    @include media-breakpoint-down(lg) {
      align-items: flex-start;
    }
  }

  &__contact {
    margin-right: 60px;
    margin-bottom: 0;

    @include media-breakpoint-down(xml) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
