.cabinet {
  padding-bottom: 40px;

  &__info {
    position: relative;
    margin-top: 50px;
    border: 1px solid rgba(#fff, .4);
  }

  &__info-header {
    position: absolute;
    left: 15px;
    margin-bottom: 0;
    padding: 0 20px;
    color: #fff;
    background: #000;
    transform: translateY(-50%);
  }

  &__info-content {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__info-left {
    padding: 45px 40px;
    display: flex;
    align-items: center;
    flex-grow: 1;

    @include media-breakpoint-down(sm) {
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__userpic {
    margin-right: 23px;
    width: 84px;
    height: 84px;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__info-left-content {
  }

  &__info-right {
    padding: 40px 50px;
    display: flex;
    max-width: 430px;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(#fff, .4);

    @include media-breakpoint-down(sm) {
      padding: 20px;
      max-width: none;
      justify-content: flex-start;
      border-top: 1px solid rgba(#fff, .4);
      border-left: 0;
    }
  }

  &__info-edit {
    margin-bottom: 0;
    max-width: 315px;
    color: rgba(#fff, .5);

    @include media-breakpoint-down(sm) {
      max-width: none;
    }
  }

  &__portfolio-header {
    margin-top: 45px;
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
