.link-back {
  margin-top: 68px;
  margin-bottom: 54px;
  display: block;
  width: 36px;
  height: 24px;
  background: url(../img/back.svg) no-repeat;
  background-size: contain;

  @include transition;

  @include media-breakpoint-down(sm) {
    margin: 30px 0;
  }

  &:hover {
    opacity: .75;
  }
}
