.menu {
  margin-right: 20px;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(lg) {
    margin-right: 0;
  }

  &__item {
    margin-right: 58px;
    font-family: $font-family-secondary;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .35px;
    color: #fff;

    @include media-breakpoint-down(lg) {
      margin-right: 25px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
      font-size: 16px;
      font-weight: 400;
    }

    @include transition;

    &:hover {
      opacity: .75;
      color: #fff;
    }

    &--active {
      border-bottom: 1px solid $primary;
    }
  }

  &__user {
    width: 40px;
    height: 40px;
    background: url(../img/user.svg) no-repeat center;
    background-size: contain;

    @include transition;

    @include media-breakpoint-down(sm) {
      width: 30px;
      height: 30px;
    }

    &:hover {
      opacity: .75;
    }
  }
}
