mixin menu(data)
  .menu&attributes(attributes)
    a.menu__item.menu__item--active(href="#") О форуме
    a.menu__item(href="#") Формат
    a.menu__item(href="#") Партнеры
    a.menu__user(href="#")
