.countdown {
  margin: 65px 0 0;
  display: flex;
  align-items: baseline;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__header {
    margin-right: 25px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    color: #fff;

    @include media-breakpoint-down(xl) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__content {
    position: relative;
    padding: 7px 28px;
    display: inline-flex;
    font-weight: 700;
    background: linear-gradient(-145deg, #4d008f 0%, #ff0077 100%);
    border-radius: 5px;

    &:before {
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      content: '';
      background: #010101;
      border-radius: 5px;
    }
  }

  &__number {
    position: relative;
    z-index: 1;
    font-size: 22px;
    letter-spacing: 1.32px;
    color: #fff;
  }
}
