.wrapper {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  background: #000;

  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__container {
    padding: 0 75px;
    flex-grow: 1;

    @include media-breakpoint-down(lg) {
      padding: 0 15px;
    }
  }
}
