.header {
  position: relative;
  z-index: 1;
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(md) {
    position: relative;
    z-index: 2;
    padding-top: 20px;
    flex-direction: column;
  }

  &__right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-top: 10px;
    }
  }
}
