.form {
  width: 100%;

  &__item {
    position: relative;
    margin-bottom: 30px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
    }

    &--row {
      display: flex;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }
  }

  &__label {
    font-size: 15px;
    line-height: 1.67;
    letter-spacing: .3px;
    color: #fff;
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    padding-left: 20px;
    display: block;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      text-align: center;
    }
  }

  &__success {
    margin-bottom: 0;
    text-align: center;
    color: $success;
  }
}
