mixin form(data)
  form.form(action="#", method="POST")&attributes(attributes)
    h6.font-weight-bold.mb-20.mb-lg-30 Подпишитесь, чтобы первыми узнать о старте регистрации:
    p.form__success Спасибо, обязательно сообщим вам о запуске!
    .form__item.form__item--row.form-group.mb-0
      input.input.form-control(type="text", placeholder="Email")
      .form__error.invalid-feedback Неправильный формат почты
      button.btn.btn-primary(type="submit") Отправить
